@{
    ViewData["Title"] = "Home Page";
}

<style>
    .vertical-group {
        display: flex;
        flex-flow: column;
        margin-top: 5vh;
        padding: 5vh;
        align-items: flex-start;
        height: 75vh;
    }
    button {
        height: 5vh;
        width: 25vh;
        margin-bottom: 10vh;
    }
</style>

<div class="container">
    <div class="row align-items-start">
        <div class="col-6 vertical-group">

            <form method="get" asp-controller="Reader" asp-action="Create">
                <button type="submit" class="btn btn-dark">Добавить читателя</button>
            </form>


            <form method="get" asp-controller="Book" asp-action="Create">
                <button type="submit" class="btn btn-dark">Добавить книгу</button>
            </form>

            <form method="get" asp-controller="Author" asp-action="Create">
                <button type="submit" class="btn btn-dark">Добавить автора</button>
            </form>

            <form method="get" asp-controller="Publisher" asp-action="Create">
                <button type="submit" class="btn btn-dark">Добавить издателя</button>
            </form>
        </div>

        <div class="col-6 vertical-group">
            <partial name="Statistics" model="new LibraryPlotnikova.Models.StatisticsModel()" />
        </div>
    </div>
</div>




