@model LibraryPlotnikova.Models.CreatePublisherModel
@{ ViewData["Title"] = "Publisher - Create"; }
<link rel="stylesheet" href="~/css/create.css" />
<link rel="stylesheet" href="~/css/tables.css" />

<div class="container">
    <form asp-controller="Publisher">
        <div class="input-block">
            <label>Название</label>
            <input asp-for="@Model.Name" maxlength="50" size="55" placeholder="Введите название" autofocus autocomplete="off" />
            <span class="error-message" asp-validation-for="@Model.Name"></span>
        </div>

        <div class="input-block">
            <label>Страна</label>
            @Html.DropDownListFor(e => e.CountryId, Model.AvailableCountries, new{ @class="dropDown"})
        </div>

        <table>
            <tr>
                <td>
                    <input type="submit" asp-action="CreateFromModel" formmethod="post"
                           class="btn btn-outline-success" value="Сохранить" />
                </td>
                <td>
                    <input type="submit" asp-action="Index" formmethod="get" formnovalidate
                           class="btn btn-outline-dark" value="Отмена" />
                </td>
            </tr>
        </table>
    </form>
</div>


@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(function () {
            $('.dropDown').select2();
        });
    </script>
}
