td {
    padding-right: 2vh;
}

th {
    padding-right: 2vh;
}

.main_table{
    margin-top: 2vh;
}

.main_table tr:hover {
    background-color: lightgray
}

.filter-block{
    max-height: 20vh;
    overflow-y: auto;
    margin-bottom: 1vh;
    font-size:smaller;
}

.filter-line {
    margin-bottom: 1vh;
    font-size: smaller;
}
